<h1>Boa noite!</h1>
<p>O nome do usuario é {{user.name}} {{user.sobrenome}}</p>
{{#if auth}}
<p> 
  você esta autenticado, <a href="/dashboard">clique aqui</a> 
  para acessa a area de membros</p>
{{/if}}