<h1>Cadastre o seu livro</h1>

<form action="/books/insertbook" method="POST">
    <div class="form-control">
      <label for="titulo">Titulo:</label>
      <input type="text" name="title" id="" placeholder="Digite o titulo">
    </div>

    <div class="form-control">
      <label for="quantidade">Qnt de Paginas:</label>
      <input type="number" name="quantidade" placeholder="Digite a qnt de paginas">
      <input type="number" name="quantidade" placeholder="Digite a qnt de paginas">
    </div>

    <input type="submit" value="Cadastrar">
</form>