<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js com MySQl</title>
  <link rel="stylesheet" href="/nodejs/08-node-e-mysql/02-inserindo-dados/public/styles.css">
</head>
<body>
  {{{body}}}
  
</body>
</html>